// ==========================================================================
// Site Layout
// ==========================================================================
body {
	#main-container {
		padding-top: 60px;
		padding-bottom: 60px;
		.thead {
			background-color: $lightgrey;
			font-weight: bold;
			z-index: 100;
			padding: 0.5em 0;
			& > div {
				margin: 0 0.25em;
			}
			.dropdown {
				margin-top: 0.25em;
				margin-bottom: 0.5em;
				.dropdown-toggle {
					width: 100%;
					display: block;
					text-align: left;
					.caret {
						float: right;
						margin-top: 0.5em;
					}
				}
			}
			.total {
				font-weight: normal;
				margin-top: 0.75em;
				text-align: right;
			}
		}
		.price {
			text-align: right;
		}
	}
	#footer {
		background-color: $black;
		color: $white;
		padding-top: 1em;
	}
}
// Smaller Than (Highest Pixel Widths First)
// 767px and below
@include bp($max: #{$small - 1}) {
	body {
		#main-container {
			&.home {
				.thead {
					.titles {
						display: none;
					}
				}
				.price {
					text-align: left;
				}
				.row {
					padding-top: 0.25em;
					padding-bottom: 0.25em;
					border-bottom: 1px solid $lightgrey;
				}
			}
			&.charts {
				#myChart {
					max-height: 100%;
				}
			}
		}
	}
}
